<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<p> Bonjour {{ name }} ! </p>
{% if change_password %}
   <p> Vous avez demandé une modification de votre mot de passe</p>
{% else %}
<p> De nombreuses tentatives de mots de passe ont été enregistrées pour votre compte sur le site InVisible</p>
<p> Afin de sécuriser votre compte, celui-ci a été désactivé et le mot de passe changé </p>
{% endif %}

<p> Cliquez sur ce <a href="https://in-visible.ovh/reset-password/{{ temporary_password }}/{{ security_mail_token }}">  lien </a> afin de le modifier</p>


</body>
</html>
